.containerMeditation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #242527;
    background-image: url('../assets/bglogo.png'); /* Adjust the path based on your folder structure */
  background-position: left center;
  background-size: cover;
  }
  
  .form {
    margin-bottom: 50px;
  }
  
  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
  .subTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
  .inputContainer {
    flex: 1;
    margin-bottom: 10px;
  }
  .inputContainerImage {
    flex: 1;
    
  }
  
 
  .input {
    font-family: 'Montserrat', sans-serif;
    flex: 1;
    height: 50px;
    border-color: #fff;
    border-width: 3px;
    background-color: #242527;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    padding-left: 15px;
    width: 97%; /* Extend input field to full width */
    outline: none; /* Remove focus outline */

  }

  .descriptionInput {
    height: 100px; /* Increase height for description input */
    font-size: 20px; /* Adjust font size */
  }
  

  
  .register {
    width: 102%;
    height: 58px;
    background-color: #b19cd9;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #FFB08E;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    display: block;
  }
  

  .selectContainer {
    flex: 1;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
  }
  
  .select {
    font-family: 'Montserrat', sans-serif;

    height: 50px;
    border-color: #fff;
    border-width: 3px;
    background-color: #242527;
    border-radius: 18px;
    font-size: 18px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;/* Extend select field to full width */
  }
  
  /* Styling for the options */
  .select option {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #242527;
    border-radius: 20px;
    padding: 10px 15px;
    width: 105%;
  }
  
  /* Styling for the dropdown arrow */
  .select::-ms-expand {
    display: none; /* Hide arrow in IE */
    width: 105%;
  }
  
  .select::after {
    content: '\25BC'; /* Unicode character for the dropdown arrow */
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #fff;
    width: 105%;
  }
  

  .input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Hide spinners for Chrome/WebKit based browsers */
  margin: 0; /* Remove margin */
}

.input[type='number'] {
  -moz-appearance: textfield; /* Show as regular text field in Firefox */
}
