/* General container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242527;
  padding: 20px;
  
}

.formandshit {
  margin-bottom: 100px;
}

/* Title styles */
.titleRegister {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  color: #fff;
  text-align: center; 
  color: #b19cd9;/* Added text alignment for centering */
}
.Belowtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #fff;
  text-align: center; /* Added text alignment for centering */

}
/* Name row styles */
.nameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  
}
.nameInput:first-child { /* Target the first input */
  margin-right: 20px; /* Add desired spacing */
}

/* Name input styles */
.nameInput {
  
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  height: 50px;
  border-width: 3px;
  border-color: #fff;
  background-color: #242527;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  padding-left: 15px; /* Assuming you have this font */
}

/* Email input styles */
.emailInput {
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  height: 50px;
  width: 97%;
  border-width: 3px;
  border-color: #fff;
  background-color: #242527;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  padding-left: 15px;
}
.inputContainer {
  flex: 1;
  margin-bottom: 15px;
}

.passwordInputContainer {
  position: relative;
}
/* Password input styles */
.passwordInput {
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  height: 50px;
  width: 97%;
  border-width: 3px;
  border-color: #fff;
  background-color: #242527;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  padding-left: 15px;
}

/* Submit button styles */
.register {
  width: 100%; /* Applied the desired width */
  height: 58px; /* Applied the desired height */
  background-color: #b19cd9; /* Assuming 'Colors' is defined for background color */
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900; 
  color: #FFB08E;
    font-size: 30px; /* Applied the desired font size */
  border: none; /* Removed border for cleaner look (optional) */
  cursor: pointer
}

.nameInput,
.emailInput,
.passwordInput {
  /* ... other styles */
  outline: none; /* Added to remove focus outline */
}


.passwordIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
}